/* CSS declarations go here */


h1{

  font-family: sans-serif;
  margin-right: 20%; 
}

h2{
  font-size: 5px;
  font-family: sans-serif;
  text-align: center;
}


h3{
  text-align: center;
  font-family: verdana, sans-serif;
}

h4{
  text-align: left;
  left: 0;
  }



.btn_{
  margin-right: 5%;
  float: right;
}


.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.info{
  text-align: left;
  padding: 2em;
}

.pic_mini {
  width: 300px;
  height: 500px;
  margin-bottom: 300%; 
  padding-left: : 1%;
  margin: 5%;
/* position: absolute;*/
}

.chatHaupt{
  width: auto;
  margin:40px;
  padding: 10px;
}
/*-----------Side Nav Menü------------------*/
#mySidenav a {
    position: absolute;
    padding: 15px;
    width: 250px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    color: black;
  }


#about {
    top: 100px;
    background-color: #4CAF50;
    text-align: right;
}

#blog {
    top: 150px;
    background-color: #2196F3;
}
 
/*------- Bilder der Rater Seite------------*/
.bild{
  border: 10px solid;
  border-color: black;
  outline-style: solid;
  outline-width: 5px;

  outline-color: black;
  height: 250px; 
  width: 250px;
  padding: 10px;
  padding-bottom: 10px;
  float: left;
  margin-right: 6%;
  margin-bottom: 8%;
}

/*-------Eingabefelder------------*/


input[type=text], pic_mini {
    width: 100%;
}

input[type=text]:focus, pic_mini   {
  font-family: FontAwesome; 
  border: 3px solid #555;
}

/*------------drei Spalten Design für das Home Layout--------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
  padding: 5px;
  width: 100%;
  margin: 20px auto;
}
#content {
  width: 30%;
  float: left;
  padding: 5px 15px;
  margin-left: 7em; 
}

#middle {
  width: 30%; /* Account for margins + border values */
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#sidebar {
  width: 30%;
  padding: 5px 15px;
  float: left;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
  
  #pagewrap {
    width: 94%;
  }
  #content {
    width: 41%;
    padding: 1% 4%;
  }
  #middle {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }
  
  #sidebar {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  header{
    padding: 1% 4%;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

  #content {
    width: auto;
    float: none;
  }
  
  #middle {
    width: auto;
    float: none;
    margin-left: 0px;
  }
  
  #sidebar {
    width: auto;
    float: none;
    margin-right: 10em;
  }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

  header {
    height: auto;
  }
  h1 {
    font-size: 2em;
  }
  #sidebar {
    display: none;
  }

}


#middle {
  background: #f8f8f8;
}

header, #content, #middle, #sidebar {
  margin-bottom: 5px;
}

/*---------------Slideshow----------------------*/

.slideshow{
  background: center;
}


/*--------------Overlay---------------*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/*----------login---------------*/

body{
    padding-top: 0px;
}
.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}


/*-------------2 Spalten Layout für Tagger Seite--------------*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnsContainer { position: relative; margin: .5em; }

.leftColumn, .rightColumn{ padding: 1.25em; }

.leftColumn { margin-bottom: .5em; }

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 10.5em; }

  .rightColumn { position: absolute; top: 0; right: 0; width: 27.75em; }   
}


/*----------------- Layout für das Zwischenergebnis -----------------*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

.columnscontainer { position: relative; margin: .5em; }

.leftcolumn, .rightcolumn{ padding:1.25;}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em  ) {
  .leftcolumn { position: absolute; top: 0; left: 0; width: 5em;}

  .rightcolumn { position: absolute; top: 0; right: 0; width: 5em; }   
}
