/* CSS declarations go here */
.start-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  border: 1px solid #555;
} 

.start-menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

.start-menu li a:hover {
  background-color: #555;
  color: white;
}

.panel-body {
  overflow-y:scroll;
  height:60vh;
}


.pic_mini {
  width: 300px;
  height: 350px;
  border: 1px solid #555;
}

input[type=text], pic_mini {
    width: 100%;
}

input[type=text]:focus, pic_mini   {
  font-family: FontAwesome; 
  border: 3px solid #555;
}