<template name="homeLayout">
	{{> header}}
	<main>
		<div class="homeMenu">
			{{> startMenu}}
		</div>
	</main>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="viewport" content="width=1200px">
  	</head>
  
  	<body>

  	<div id="pagewrap">

		<section id="content">
			<div style="text-align: center;"><h3>Spielanleitung</h3></div>
			<p>Das Spiel cPIC wird in einer Gruppe von mindestens drei Spielern gespielt. Zum Spielstart werden den Spielern zufällig Rollen zugewiesen. Dabei gibt es zwei Rollen: eine Person ist der „Tagger“ – er gibt zu einem Bild Schlagwörter, die das Bild beschreiben (Tags). Desweiteren gibt es die Roller der „Rater“ (die restlichen Gruppenmitglieder) - sie müssen anhand der Tags das richtige Bild erraten. Dabei kommunizieren die Rater über einen Chat miteinander. Nach jeder Runde werden die Rollen zufällig neu vergeben. So kann jedes Gruppenmitglied sich in die Situation der anderen Spieler versetzen. Durch das einnehmen beider Rollen kennt der Spieler beiden Sichten (die des Taggers und des Raters) und kann somit die Gruppe besser verstehen, was der Kooperation helfen kann. Tagger und Rater spielen dabei miteinander, nicht gegeneinander.</p>
		</section>
		
		<section id="middle">
			<div style="text-align: center;"></div>
			{{> getStarted}}
			<!--<button class="btn btn-info send" type="submit">Spiel starten</button>-->

		</section>

		<aside id="sidebar">
		<h3>Beispiele der Digitalisate</h3>
					<div class="slideshow">
			  			<div class="w3-content w3-section" style="max-width:500px">
						  <img class="mySlides" src="/images/S04_E01.01.jpg" style="width:100%;">
						  <img class="mySlides" src="/images/S04_E01.05.jpg" style="width:100%;">
						  <img class="mySlides" src="/images/S04_E01.03.jpg" style="width:100%;">
						  <img class="mySlides" src="/images/S04_E01.04.jpg" style="width:100%;">
						</div>
					<script>
						var myIndex = 0;
						carousel();

						function carousel() {
						    var i;
						    var x = document.getElementsByClassName("mySlides");
						    for (i = 0; i < x.length; i++) {
						       x[i].style.display = "none";  
						    }
						    myIndex++;
						    if (myIndex > x.length) {myIndex = 1}    
						    x[myIndex-1].style.display = "block";  
						    setTimeout(carousel, 2000); // Change image every 2 seconds
						}
					</script>
			  		</div>
		</aside>

	</div>
	  	

					
	</body>
</html>
</template>